<app-nav-bar></app-nav-bar>
<form #quizForm="ngForm">
  <div class="flex">

    <mat-card class="width30 matCard">
      
            <mat-card-header class="center">
              <mat-card-title class="titleFont">Whip Up A Quiz</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- Quiz Name/Title -->
              <div class="center">
                <mat-form-field class="width">
                  <mat-label>Title</mat-label>
                  <input matInput name="quizTitle" type="text" [(ngModel)]="quiz.quizTitle" #quizTitle="ngModel">
                </mat-form-field>
              </div>
              <!-- Quiz Descritpion -->
              <div class="center">
                <mat-form-field class="width">
                  <mat-label>Description</mat-label>
        
                  <textarea matInput name="quizDescription" type="textarea" [(ngModel)]="description"> </textarea>
                </mat-form-field>
              </div>
              <!-- Quiz Instructions -->
              <div class="center">
                <mat-form-field class="width">
                  <mat-label>Instructions</mat-label>
                  <textarea matInput name="quizInstructions" type="textarea" [(ngModel)]="instructions"></textarea>
                </mat-form-field>
              </div>
        
        
            </mat-card-content>
      
      </mat-card>
    


<!-- Create and Add Questions -->
<mat-card class="width70 matCard">
  
  <table class="mat-elevation-z8" *ngFor="let question of questions; let i = index">
    <tr>
      <mat-card-title>Question #{{i+1}}</mat-card-title>
    </tr>
    <tr>
      <mat-radio-group [(ngModel)]="questions">
        <td><button mat-raised-button color="primary" (click)=removeQuestion(question)>Remove Question</button></td>
        <td>
          <!-- <mat-form-field>
            <mat-label>
              Question Type
            </mat-label>
            <mat-select>
              <mat-option *ngFor="let type of types" [value]="type">{{type}}

              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Quiz question">
          </mat-form-field>
        </td>
        <br>
        <div>
          <td>
            <button mat-raised-button color="primary" (click)=addChoice(question)>Add Choices</button>
          </td>
        </div>
        <td>
          <table *ngFor="let choice of question.choices;let i = index">
            <tr>
              <button mat-raised-button color="primary" (click)=removeChoice(choice,question)>Remove Choice</button>
              <mat-radio-button [value]="i"><input matInput placeholder="Insert Multiple Choice">
              </mat-radio-button>

              <!-- [name]={{question}} -->
            </tr>

          </table>

        </td>

      </mat-radio-group>
    </tr>
  </table>




  <!-- Question creator
     -->
  <mat-card-actions>
    <button mat-raised-button (click)=addQuestion() type="submit">Add New Question</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button color="accent" type="submit" (ngSubmit)="quizFormSubmit(quizForm.value)">Submit</button>
  </mat-card-actions>


</mat-card>
</div>
</form>