@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

.matCard{
  margin: auto;
  width: 60%;
}

.titleFont{
  font-size: 24px;
  justify-content: center;
}
  
.center{
  text-align: center;
  justify-content: center;
  
}

.width{
  width: 70%;
}
  
.centerTitle{
  justify-content: center;
}

  

.mat-form-field{
  margin-left: 10px;

}

table {
  width: 100%;
  margin: 10px;
}

.flex{
  display: flex;
  flex-flow: row nowrap;
}

.width30{
  min-width: 325px;
  max-width: 325px;
  margin-top: 5px;
  margin-left: 5px;
}

.width70{
  width: calc(100% - 325px);
  margin-top: 5px;
}

.questionText{
  font-weight: 600;
  font-size: 18px;
  font-size-adjust: inherit;
  width: 240px;
}
