<app-nav-bar></app-nav-bar>
<!-- Refactor with reactive forms someday -->
<div class="flex">

    <mat-card class="width30 matCard sticky">

      <mat-card-header class="center">
        <mat-card-title class="titleFont">Whip Up a Quiz</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Quiz Name/Title -->
        <div class="center">
          <mat-form-field class="width">
            <mat-label>Title</mat-label>
            <input matInput name="quizTitle" type="text" [(ngModel)]="quizTitle">
          </mat-form-field>
        </div>
        <!-- Quiz Description -->
        <div class="center">
          <mat-form-field class="width">
            <mat-label>Description</mat-label>
            <textarea matInput name="quizDescription" type="textarea" [(ngModel)]="quizDescription"> </textarea>
          </mat-form-field>
        </div>
        <!-- Quiz Instructions -->
        <div class="center">
          <mat-form-field class="width">
            <mat-label>Instructions</mat-label>
            <textarea matInput name="quizInstructions" type="textarea" [(ngModel)]="quizInstructions"></textarea>
          </mat-form-field>
        </div>
        <mat-card-actions class="center">
          <button mat-raised-button color="accent" type="submit" (click)="quizFormSubmit()">Create
            Quiz</button>
        </mat-card-actions>
      </mat-card-content>

    </mat-card>



    <!-- Create and Add Questions -->
    <mat-card class="width70 matCard">
        <div class="mat-elevation-z8" *ngFor="let question of questions; let qi = index">
           <form class="padding">
              <mat-card-title class="padding">Question #{{qi+1}}</mat-card-title>
            <mat-form-field class="questionField" appearance="fill">
                <mat-label>Insert Question Here</mat-label>
                <input matInput [(ngModel)]="question.prompt" [name]="'prompt'+qi">
               
            </mat-form-field>
            <button class="btnMargin" mat-raised-button color="primary" (click)=removeQuestion(qi)>Remove Question</button>
           
          
             <div class="padding"> Select the radio button next to the correct choice. </div>
          
              <ng-container *ngFor="let choice of questions[qi].choices; let ci = index; trackBy:trackByFn">
                 
                   <mat-radio-group [name]="'correct' + qi" [(ngModel)]="question.correct"> 
                <mat-radio-button [value]="qi + ci">  </mat-radio-button>
                <mat-form-field appearance="fill">
                    <mat-label>Insert Multiple Choice</mat-label>
                    <input matInput [(ngModel)]="questions[qi].choices[ci]" [name]="'choice'+qi+ci">
                </mat-form-field>
                <button class="btnMargin" mat-raised-button color="primary" (click)="removeChoice(question, ci)">Remove Choice</button>
           
         </mat-radio-group> </ng-container>  
          </form>
            <button class="btnMargin" mat-raised-button color="primary" (click)=addChoice(qi)>Add Choice</button>
        </div>
            <mat-card-actions class="btnMargin center">
                <button  mat-raised-button color="primary" (click)=addQuestion() type="submit">Add New Question</button>
            </mat-card-actions>
    </mat-card>
    </div>
