@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

.matCard{
  margin: auto;
  width: 60%;
}

.titleFont{
  font-size: 24px;
  justify-content: center;
}
  
.center{
  text-align: center;
  justify-content: center;
  
}

.width{
  width: 70%;
}
  
.centerTitle{
  justify-content: center;
}

.btnMargin {
  margin: 1em;
}

.mat-form-field{
  margin-left: 10px;

}

table {
  width: 100%;
  margin: 10px;
}

.flex{
  display: flex;
  flex-flow: row nowrap;
}

.width30{
  position: sticky;
  top: 0px;
  min-width: 325px;
  max-width: 325px;
  margin-top: 5px;
  margin-left: 5px;
}

.width70{
  width: calc(100% - 325px);
  margin-top: 5px;
}

.questionText{
  font-weight: 600;
  font-size: 18px;
  font-size-adjust: inherit;
}

#questionText{
  min-width: 278px;
  width: 938px;
}

#choiceText{
  margin-right: 4px;
  min-width: 240px;
  width: 900px;
}
