<app-nav-bar></app-nav-bar>
<div class="flex">
  <mat-card class="width30 mat-elevation-z8">
    <mat-card-header class="center">
      <mat-card-title class="titleFont">Whip Up A Quiz</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      Quiz Name/Title
      <div class="center">
        <mat-form-field class="width">
          <mat-label>Title</mat-label>
          <input matInput name="quizTitle" type="text" [(ngModel)]="quiz.title" #title="ngModel">
        </mat-form-field>
      </div>
      Quiz Descritpion
      <div class="center">
        <mat-form-field class="width">
          <mat-label>Description</mat-label>

          <textarea matInput name="quizDescription" type="textarea" [(ngModel)]="quiz.description"> </textarea>
        </mat-form-field>
      </div>
      Quiz Instructions
      <div class="center">
        <mat-form-field class="width">
          <mat-label>Instructions</mat-label>
          <textarea matInput name="quizInstructions" type="textarea" [(ngModel)]="quiz.instructions"></textarea>
        </mat-form-field>
      </div>
      <mat-card-actions class="center">
        <button mat-raised-button color="accent" type="submit" (click)="quizFormSubmit(quiz)">Create
          Quiz</button>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
<div>

  <!-- Create and Add Questions -->
  <mat-card class="width70 mat-elevation-z8" *ngFor="let question of quiz.questions; let i =index">
    <mat-card-title>Question #</mat-card-title>
    Insert Question Text Here:
    <mat-form-field class="questionText" appearance="fill">
      <input matInput>
    </mat-form-field>
    <button class="btnMargin" mat-raised-button color="primary" (click)=removeQuestion(quiz.question)> Remove
      Question</button>
    <br>

    <mat-radio-group [ngModel]="question">
      Choose the Correct Answer by Selecting a Radio Button
      <mat-radio-button value="x">
        Insert A Choice Here:
        <mat-form-field class="questionText" appearance="fill" >
          <input [(ngModel)]="nextChoice" matInput>
        </mat-form-field>
      </mat-radio-button>
</mat-radio-group>
      <button class="btnMargin" mat-raised-button color="primary" (click)=removeChoice(question)>Remove
        Choice</button>
      <div>
        <button class="btnMargin" mat-raised-button color="primary" (click)=addChoice()>Add
          Choices</button>

      </div>
    
      <br><br>
      <!-- add another question -->
<div>
      <button mat-raised-button (click)=addQuestion() >Add New Question</button>
    </div>