.matCard{
  margin: auto;
  width: 60%;
}

.titleFont{
  font-size: 24px;
}
  
.center{
  text-align: center;
  justify-content: center;
  
}

.width{
  width: 70%;
}
  
.centerTitle{
  justify-content: center;
}

  

.mat-form-field{
  margin-left: 10px;

}

table {
  width: 100%;
  margin: 10px;
}
