.centerAlign{
   text-align: center;
}


.center{
    justify-content: center;
  }

  *{
      text-align: center;

  }

  .fontSize{
      font-size: 24px;
      padding-bottom: 12px;
  }

  .matCard{
   margin: auto;
   width: 60%;
      }
  
