<app-nav-bar></app-nav-bar>
  <mat-card class="matCard">
    <mat-card-header class="center centerText">
      <mat-card-title class="fontSize">Please Select A Quiz</mat-card-title>
    </mat-card-header > 
  <mat-form-field>
    <mat-label>Select Quiz</mat-label>
    <mat-select>
      <mat-option  *ngFor="let quiz of quizzes" [value]="quiz.id">
        <div (click)="getScores(quiz.id)"> {{quiz.title}}</div>
      </mat-option>
    </mat-select>
  </mat-form-field> 
    <a class="right" [routerLink]="['/quiz_form']"><button class="btnMargin" mat-raised-button color="primary">Create Quiz</button></a>
  <div class="centerText" *ngIf="token"><h3>Quiz token: {{token.token}}</h3></div>

<table mat-table [dataSource]="results" color="primary" >

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let result"> {{result.score}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let result"> {{result.email}} </td>
  </ng-container>

  <ng-container matColumnDef="datestamp">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let result"> {{result.datestamp | date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>