<app-nav-bar></app-nav-bar>
<form #questionForm="ngForm" >

  <div class="flex">
 
<mat-card class="width70">
<mat-card-title class="center quizTitle">{{quiz.title}}</mat-card-title>
<br>
<div class="questionContainer">
<mat-card-subtitle class="questionText"> {{currentQuestion}}</mat-card-subtitle>

<mat-radio-group name="question" aria-label="Select an option" *ngFor="let currentChoice of currentChoices; let i = index">
 <ol><mat-radio-button  value="i" (change)="onSelectionChange(currentChoice)" >{{currentChoice}}</mat-radio-button></ol> 
</mat-radio-group>
<br>
<mat-card-actions>
<button color="primary" mat-raised-button (click)="nextQuestion()" mat-button> Next Question</button>
<button mat-raised-button color="accent"  id="searchsubmit" mat-button> Submit</button> 
</mat-card-actions>
</div>

</mat-card>

<br>
<mat-card class="width30">
    <div>
  <mat-card-subtitle class="questionText"> Your answers:</mat-card-subtitle>
  
  <ol><mat-card-subtitle *ngFor="let n = index; let userAnswer of userAnswers">
  <li><strong>Question:</strong> {{quiz.questions[n].prompt}}  <strong>  <br>You chose:</strong> {{userAnswer}}</li> </mat-card-subtitle></ol>

</div>
</mat-card>
</div>
</form>