@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

.mat-radio-button {
    margin-left: 16px;
  }
  .mblue{
    background-color: #0e2340;
   
}
.morange{
  background-color: #ee7623;
}
.questionContainer{
  margin:auto;
  width:60%;
}
.questionText{
  font-weight: 600;
  font-size: 18px;
  font-size-adjust: inherit;
}
.mat-card{
  // margin:auto;
  // width:70%;
}

.center{
  justify-content: center;
}
.quizTitle{
    text-align: center;
    margin: auto;
    display: clear; 
  
}
#searchsubmit
{    
    visibility: hidden;
}
#visible {
  visibility: visible;
}
.flex{
  display: flex;
  flex-flow: row nowrap;
}
.width30{
  width: 30%;
  margin-top: 5px;
  margin-left: 5px;
}
.width70{
  width: 70%;
  margin-top: 5px;
}