<mat-toolbar class="mblue">
    
  <img src="./assets/images/quizWhipSemiBold300.png" alt="Quiz Whip Logo">
  <button class ="white" id="justifyRight" mat-button [matMenuTriggerFor]="options">Options</button>
  <mat-menu class="white" #options="matMenu">
      <button mat-menu-item><a class="navLink" [routerLink]="[ '/login' ]" routerLinkActive="active">Login</a></button>
      <button mat-menu-item><a class="navLink" [routerLink]="[ '/register' ]" routerLinkActive="active">Register</a></button>
    </mat-menu>
</mat-toolbar>
