.mblue{
    background-color: #0e2340;
    justify-content: center;
}
.mfont{
    font-family: 'Montserrat', sans-serif;
}

.white{
    color: white;
    text-align: center;
}

#justifyRight {
    justify-content: right;
}