.header{
    font-family: 'Montserrat', sans-serif;
    background-color: #0e2340;
    color: white;
    padding: 50px 10px 50px 10px;
    display: flex;
    margin-bottom: 8px;
}

.fill-space{
    flex: 1 1 auto;
    height: 1px;
}

#hiddenButton{
    width: 32px;
    padding: 16px;
}